<%= form_for(@announcement, :html => { :class=> "announcement-form" }) do |f| %>
  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% @announcement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="full-width field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="third-width field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
 <div class="third-width field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="third-width field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="quarter-width field">
    <label>Start advertising on</label><br />
    <%= f.date_select :announce_start_time %>
  </div>
  <div class="quarter-width field">
    <label>Stop advertising after</label><br />
    <%= f.date_select :announce_end_time %>
  </div>
  <div class="two-third-width field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="two-third-width check_box_field field">
      <%= f.check_box :has_datetime, :class => "has_datetime_check_box" %><p>This event has a start and end date</p>
  </div>
  <div class="datetime_field field">
    <lable>Event starts on</label><br />
    <%= f.datetime_select :start_time %>
  </div>
  <div class="datetime_field field">
    <label>and ends on</label><br />
    <%= f.datetime_select :end_time %>
  </div>
  <div class="two-third-width field">
    <label>Tags (separated by commas)</labels><br />
    <%= f.text_field :tag_string %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button control" %>
  </div>
<% end %>
