  <div class="announcements-container">
    <div class="announcements">
      <ul class="announcement-list">
  	
      <% @announcements.each do |announcement| %>
        <li>
          <a href="#announcement_<%= announcement.id %>" class="announcement-list-item">
        
          <div class="title">
            <h3><%= announcement.title %></h3>
            <% if announcement.start_time != nil %>
            <span class="meta-time"><%= Date::ABBR_MONTHNAMES[announcement.start_time.month] + " " + announcement.start_time.day.to_s %></span>
            <% end %>
          </div>
          </a>
        </li>
      <% end %>
      </ul>

      <ul class="announcement-details">
        <% @announcements.each do |announcement| %>
        <li class="announcement-details-item" id="announcement_<%= announcement.id %>">
            <div class="title">
              <h3><%= announcement.title %></h3>
            </div>
            <div class="meta">
              <h5><%= announcement.happening_on %></h5>
              <h5 class="location"><%= announcement.location %></h5>
            </div>
        
            <div class="content">

              <p><%= announcement.description %></p>
              <b><%= announcement.contact %></b>
              <h6><%= announcement.email %></h6>

              <% if current_user %>
              <span><%= link_to 'Delete', :confirm => 'Are you sure?', :controller => :announcements, :method => :delete %></span>
            <% end %>

            </div>
        </li>
        <% end %>
      </ul>

      <div class="clear"></div>
    
    </div>
  </div>