  <div class="announcements-container">

    <div class="announcements">

      <ul class="announcement-details">
        <% @all_announcements.each do |announcement| %>
        <li class="announcement-details-item" id="announcement_<%= announcement.id %>">
            <div class="title">
              <h3><%= announcement.title %></h3>
            </div>
            <div class="meta">
              <% if announcement.user != nil %><span class="author-name">Submitted by <%= announcement.user.full_name %></span><% end %>
              <h5 class="time"><%= announcement.happening_on %></h5>
              <h5 class="location"><%= announcement.location %></h5>
            </div>

            <% if admin_logged_in? %>
            <ul class="announcement-control-list control-list">
              <% if announcement.is_approved %>
                <li class="announcement-control control"><%= link_to 'Reject', reject_announcement_path(announcement) %></li>
              <% else %>
                <li class="announcement-control control"><%= link_to 'Approve', approve_announcement_path(announcement) %></li>
              <% end %>
              <li class="announcement-control control"><%= link_to 'Edit', edit_announcement_path(announcement) %></li>
              <li class="announcement-control control"><%= link_to 'Delete', announcement_path(announcement), :confirm => 'Are you sure?', :method => :delete %></li>
            </ul>
            <div class="clear"></div>
            <% end %>
            
            <div class="content">

              <p class="text-justify"><%= announcement.description %></p>

              <% if announcement.contact && announcement.contact != "" %>
              <p class="posted-by">
                Posted by <%= announcement.contact %>
              
                <% if announcement.email && announcement.email != "" %>
                </br><%= announcement.email %>
                <% end %>
              </p>
              <% end %>
            </div>
        </li>
        <% end %>
      </ul>

    <% if admin_logged_in? %>

      <div class="announcement-list-title list-title"><h3>Pending Announcments</h3></div>
      <ul class="announcement-list list pending-announcments">
        <% @pending_announcements.each do |announcement| %>
        <li>
          <a href="#announcement_<%= announcement.id %>" class="announcement-list-item list-item">

            <div class="title">
              <h3><%= announcement.title %></h3>
              <% if announcement.start_time != nil %>
              <span class="meta-time"><%= Date::ABBR_MONTHNAMES[announcement.start_time.month] + " " + announcement.start_time.day.to_s %></span>
              <% end %>
            </div>
          </a>
        </li>
        <% end %>
        <% if @pending_announcements.length == 0 %>
          <li class="announcement-list-item-nolink list-item-nolink"><h3>No pending announcements</h3></li>
        <% end %>
      </ul>

      <div class="announcement-list-title list-title"><h3>Current Approved</h3></div>
    <% end %>

      <ul class="announcement-list list current-approved-announcments">
  	
      <% @current_approved_announcements.each do |announcement| %>
        <li>
          <a href="#announcement_<%= announcement.id %>" class="announcement-list-item list-item">
        
          <div class="title">
            <h3><%= announcement.title %></h3>
            <% if announcement.start_time != nil %>
            <span class="meta-time"><%= Date::ABBR_MONTHNAMES[announcement.start_time.month] + " " + announcement.start_time.day.to_s %></span>
            <% end %>
          </div>
          </a>
        </li>
      <% end %>

        <% if @current_approved_announcements.length == 0 %>
          <li class="announcement-list-item-nolink list-item-nolink"><h3>No current announcements</h3></li>
        <% end %>

      </ul>

      <div class="clear"></div>
    
    </div>
  </div>