  <h1><span>Skule </span>Announcements</h1>
  
  <ul id="announcements">
	
  <% @announcements.each do |announcement| %>
    <li>
      
      <div class="title">
        <h3><%= announcement.title %>
<!--
          <span><%= link_to 'Delete', announcement, :confirm => 'Are you sure?', :method => :delete %></span>
-->
        </h3>

      </div>
      
      <div class="meta">
        
        <h5><%= announcement.happening_on %></h5>
        <h5 class="location"><%= announcement.location %></h5>
        
      </div>
      
      <div class="content">

       <p><%= announcement.summary %></p>
       <div class="more"><p><a href="#">Read description</a></p></div>
    
 <!--   
        <b><%= announcement.contact %></b>
        <h6><%= announcement.email %></h6>
-->


      </div>
      
      <div class="clear"></div>
      
    </li>
  <% end %>

  </ul>

  <br />

<!--  <%= link_to 'New Announcement', new_announcement_path %>-->
  
</div>
