<div id="wrapper">

  <h1>Skule Announcements</h1>

  <h2>New this week</h2>

  <ul id="announcements">
	
  <% @announcements.each do |announcement| %>
    <li>
      
      <div class="title">
        <h3><%= announcement.title %>
<!--
          <span><%= link_to 'Edit', edit_announcement_path(announcement) %></span>
          <span><%= link_to 'Delete', announcement, :confirm => 'Are you sure?', :method => :delete %></span>
-->
        </h3>

      </div>
      <div class="content">
        <h5><%= announcement.start_time.strftime("%I:%M %m/%d/%Y") %> - <%= announcement.end_time %></h5>
        <h5 class="location"><%= announcement.location %></h5>
        <p><%= announcement.description %></p>
    
    
        <b><%= announcement.contact %></b>
        <h6><%= announcement.email %></h6>

        <div class="more"><a href="#">more</a></div>

      </div>
    </li>
  <% end %>

  </ul>

  <br />

  <%= link_to 'New Announcement', new_announcement_path %>
  
</div>
