  <div class="announcements-container">

    <div class="announcements">

      <ul class="announcement-details">
        <% @all_announcements.each do |announcement| %>
        <li class="announcement-details-item" id="announcement_<%= announcement.id %>">
            <% @announcement = announcement %>
            <%= render 'details' %>
        </li>
        <% end %>
      </ul>

    <% if current_user %>
      <div class="announcement-list-title list-title">
      <% if admin_logged_in? %>
        <h3>Pending Announcments</h3>
      <% else %>
        <h3>My Pending Announcements</h3>
      <% end %>
      </div>

      <ul class="announcement-list list pending-announcments">
        <% @pending_announcements.each do |announcement| %>
        <li>
          <a href="#announcement_<%= announcement.id %>" class="announcement-list-item list-item">

            <div class="title">
              <h3><%= announcement.title %></h3>
              <% if announcement.has_datetime && announcement.start_time != nil %>
              <span class="meta-time"><%= Date::ABBR_MONTHNAMES[announcement.start_time.month] + " " + announcement.start_time.day.to_s %></span>
              <% end %>
            </div>
          </a>
        </li>
        <% end %>
        <% if @pending_announcements.length == 0 %>
          <li class="announcement-list-item-nolink list-item-nolink"><h3>No pending announcements</h3></li>
        <% end %>
      </ul>

      <div class="announcement-list-title list-title"><h3>Current Approved</h3></div>
    <% end %>

      <ul class="announcement-list list current-approved-announcments">
  	
      <% @current_approved_announcements.each do |announcement| %>
        <li>
          <a href="#announcement_<%= announcement.id %>" class="announcement-list-item <% if announcement.is_important %>important <% end %>list-item">
        
          <div class="title">
            <h3><%= announcement.title %></h3>
            <% if announcement.has_datetime && announcement.start_time != nil %>
            <span class="meta-time"><%= Date::ABBR_MONTHNAMES[announcement.start_time.month] + " " + announcement.start_time.day.to_s %></span>
            <% end %>
          </div>
          </a>
        </li>
      <% end %>

        <% if @current_approved_announcements.length == 0 %>
          <li class="announcement-list-item-nolink list-item-nolink"><h3>No current announcements</h3></li>
        <% end %>

      </ul>

      <div class="clear"></div>
    
    </div>
  </div>