<%= form_for @user, :html => {:class => "signup-form"} do |f| %>
  <h3 class="title">Create an account</h3>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :class => "text-field" %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :class => "text-field" %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "text-field" %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :class => "text-field" %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => "text-field" %>
  </p>

  <p><%= f.submit "Sign up!", :class => "button control" %></p>
<% end %>
  

