<!DOCTYPE html>
<html>
<head>
  <title>Announcements</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div class="wrapper">

		<h1><span>Skule </span>Announcements</h1>

		<div class="user_nav">
			<% if current_user %>
				Howdy <%= current_user.full_name %>!
			<% end %>

			<% if admin_logged_in? && params[:controller] == "announcements" && params[:action] == "index" %>
				<%= link_to "Manage Users", users_path %>
			<% elsif admin_logged_in? && params[:controller] == "users" %>
				<%= link_to "Return to Announcements", announcements_path %>
			<% end %>

			<% if params[:controller] == "announcements" && params[:action] == "index" %>

				<% if current_user %>
					<%= link_to "Make an announcement!", new_announcement_path %>
				<% else %>
					<%= link_to "Make an announcement!", login_path %>
				<% end %>

			<% end %>

			<% if current_user %>
				<%= link_to "Log out", logout_path %>
			<% end %>
		</div>

		<div id="notice">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		</div>

	<%= yield %>
	</div>

</body>
</html>
